* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {

    font-family: 'Lato', sans-serif;
    background-color: #22f;
}





a {
    text-decoration: none;
}

p {
    line-height: 1.5;
}

ul {
    list-style-type: none;
}


.header {
    background-color: #0f172a;
    color: #e2e8f0;
    padding: 30px 20px;
}



.container {
    max-width: 1200px;
    margin: 0 auto;
    
}


.header__content {
    display: flex;

    justify-content: space-between;

}


.content__title {
    color: #2f2;
}


.content__navbar {
    display: flex;

}

.content__navbar li {
    
    margin: 0 15px;
} 


.content__navbar li a {
    color: #fff;
    font-weight: bold; /*le da cierto grosor y brillo*/
} 

/*Hero*/


.hero {
    background-image: linear-gradient(45deg, #14532d, #22c55e);
    padding: 50px 20px;
    color: #e2e8fe;
}

.hero__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    align-items: center;
}

.hero__grid-content h1 {
    color: #fff;
    font-size: 50px;
    margin-bottom: 20px;
}

.hero__grid-content p {
    margin-bottom: 20px;
}


.hero__grid-content a {
    background-color: #0f172a;
    color: #e2e8fe;
    padding: 15px;
    border-radius: 10px;
    font-weight: bold;
    transition: background-color 0.3s;

}

.hero__grid-content a:hover {
    background-color: #1e293b;

}

.hero__grid-video {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.8);
    transition: transform 0.3s;
}

.hero__grid-video:hover {
    transform: rotate(5deg);
}

/*Tarjeta*/



.card {
    background-color: #fff;
    padding: 20px;
    /*width: 400px;   debemos sacar la medida absoluta de las tajetas para que estas se puedan acomodar al contenido*/ 
    border-radius: 20px;
    box-shadow: 0 25px 50px 12px rgba(0,0,5); /*incertar sombra acepta 5 valores "sombra X", "sombra Y" , difuminacion, ancho de la sombra, color*/

    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-15px);
}

.card__header {
    position: relative;

}

.card__header img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.card__header small {
   /* background-color: rgba(255, 255, 255, 0.5);*/
    color: #ff0;
    padding: 8px;
    position: absolute;
    right: 0;
}

.card__title{
    margin-bottom: 20px;
}

.card__description {
    margin-bottom: 40px;
}


.card__link {
    background-color: #22c55e;
    color: #fff;
    width: 100%;
    display: inline-block;
    border-radius: 10px;
    padding: 15px;
    text-align: center;

}

.card__header--strong {
    text-transform: uppercase;
    font-weight: bold;
}

/*Cursos*/


.courses {
    margin-top: 30px;
}



.courses__title {
    margin-bottom: 20px;
    text-align: center;
    color: #fff;

}



.courses__grid {

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap:  50px;

}



/*Media quierie*/


@media (max-width: 768px) {
    .courses__grid {

        display: grid;
    
        grid-template-columns: repeat(2, 1fr);
    
        gap:  50px;
    
    }
}

@media (max-width: 576px) {
    .courses__grid {

        display: grid;
    
        grid-template-columns: 1fr;
    
        gap:  50px;
    
    }

    .content__navbar {
        display: none;
    }
}








